#header__nav
    nav.navbar.navbar-expand-lg
        .container
            .collapse.navbar-collapse.navbarToggler
                .navbar-nav.mr-auto.d-lg-flex.justify-content-begin
                    a(href="#").nav-item.active.header__bottom__block Home
                    a(href="#").nav-item.header__bottom__block our fleet
                    a(href="#").nav-item.header__bottom__block Drivers
                    a(href="#").nav-item.header__bottom__block location
                .navbar-nav.mr-auto.d-lg-flex.justify-content-end
                    a(href="#").nav-item.header__bottom__block About
                    a(href="#").nav-item.header__bottom__block testimonals
                    a(href="#").nav-item.header__bottom__block news
                    a(href="#").nav-item.header__bottom__block contact
