#header__top
    nav.navbar.navbar-expand-lg
        .container
            button.navbar-toggler(type="button" data-toggle="collapse"
                                    data-target=".navbarToggler"
                                    aria-controls="navbarToggler"
                                    aria-expanded="false"
                                    aria-label="Toggle navigation")
                span.navbar-toggler-icon
            .collapse.navbar-collapse.navbarToggler
                .navbar-nav.mr-auto.d-lg-flex.justify-content-begin
                        .nav-item.header__top__block
                            a.nav-link(href="#").active
                                    i.fa.fa-mobile(aria-hidden="true")
                                    span.header__top-text +3(063)542-23-40
                        .nav-item.header__top__block
                            a(href="#").nav-link
                                    i.fa.fa-envelope(aria-hidden="true")
                                    span.header__top-text yachtmarine@gmail.com
                .navbar-nav.mr-auto.d-lg-flex.justify-content-end.pr-5
                        .nav-item.header__top__block.d-flex.justify-content-lg-between.justify-content-center.align-items-center
                            a(href="#")
                                i.fab.fa-facebook-square
                            a(href="#")
                                i.fab.fa-twitter-square
                            a(href="#")
                                i.fab.fa-youtube(aria-hidden="true")
                        .nav-item.header__top__block
                            a(href="#")
                                i.fas.fa-key
                                span.header__top-text Login
                        .nav-item.header__top__block
                            a(href="#")
                                ul.language-choice
                                    li.language__choice-item.active
                                        a(href="#").header__top-text.language-choice__En En
                                    li.language__choice-item
                                        a(href="#").header__top-text.language-choice__De De
                                    li.language__choice-item
                                        a(href="#").header__top-text.language-choice__Fr Fr
                                    li.language__choice-item
                                        a(href="#").header__top-text.language-choice__It It